# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: DDEV Add-on Registry
# baseurl should look like "/addon-registry" for repo ddev/addon-registry
# it's empty, because we use custom domain
baseurl: ""
repository: ddev/addon-registry

# to purge old cache for JS and CSS files
clear_cache_date: 20251225

description: >-
  A registry of DDEV add-ons where users can discover,
  explore, and leave comments on available add-ons.

logo: /assets/logo.png
markdown: kramdown

kramdown:
  parse_block_html: true
  parse_span_html: true
  html_to_native: true

include:
  - _pages

exclude:
  - .bundle/
  - .ddev/
  - .git/
  - .github/
  - .idea/
  - .jekyll-cache/
  - .sass-cache/
  - .jekyll-metadata
  - .vscode/
  - _site/
  - Gemfile
  - Gemfile.lock
  - go
  - LICENSE
  - README.md
  - vendor/

plugins:
  - jekyll-gfm-admonitions
  - jekyll-redirect-from

defaults:
  - scope:
      path: '_addons'
    values:
      layout: addon

collections:
  addons:
    output: true
    permalink: /addons/:path
