<div class="description">
    A registry of <a href="https://ddev.readthedocs.io/en/stable/users/extend/additional-services/" target="_blank" title="Learn more about DDEV add-ons" aria-label="Learn more about DDEV add-ons">DDEV add-ons</a>
    where users can discover, explore, and leave comments on available add-ons.<br />
    If you have an add-on but don't see it listed here, add the <code>ddev-get</code>
    <a href="https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics" target="_blank" title="Learn more about GitHub topics" aria-label="Learn more about GitHub topics">topic</a> to your GitHub repository.
</div>

{%- assign official_addons = site.addons | where_exp: "addon", "addon.group == nil" | where_exp: "addon", "addon.user == 'ddev'" | sort: "repo" -%}
{%- assign contrib_addons = site.addons | where_exp: "addon", "addon.group == nil" | where_exp: "addon", "addon.user != 'ddev'" | sort: "repo" -%}
{%- assign all_addons = official_addons | concat: contrib_addons -%}

<div id="addon-wrapper">

    <div class="search-bar">
        {%- if page.group -%}
        <input type="text" class="fuzzy-search" placeholder="{{ include.filter_by_user }} / search among {{ site.addons | where_exp: "addon", "addon.user == include.filter_by_user" | size }} add-on(s)…" title="Search add-ons" aria-label="Search add-ons" tabindex="1" autocomplete="off">
        {%- else -%}
        <input type="text" class="fuzzy-search" placeholder="Search among {{ site.addons | where_exp: "addon", "addon.group == nil" | size }} add-on(s)…" title="Search add-ons" aria-label="Search add-ons" tabindex="1" autocomplete="off">
        {%- endif -%}
    </div>

    <div class="sort-buttons">
        <button class="sort" data-sort="name" title="Sort add-ons by name" aria-label="Sort add-ons by name" tabindex="2">Sort by name</button>
        <button class="sort" data-sort="stars" data-default-order="desc" title="Sort add-ons by stars" aria-label="Sort add-ons by stars" tabindex="2">Sort by stars</button>
        <button class="sort" data-sort="updated_at" data-default-order="desc" title="Sort add-ons by update date" aria-label="Sort add-ons by update date" tabindex="2">Sort by date</button>
    </div>

    <div class="card-grid list">
        {%- for addon in all_addons -%}
        {%- if include.filter_by_user and addon.user != include.filter_by_user %}{% continue %}{% endif -%}
            <div class="card">
                <a href="{{ site.baseurl }}{{ addon.url }}" class="card-link" title="View details for {{ addon.repo }}" aria-label="View details for {{ addon.repo }}" tabindex="3">
                    <div class="title name">{{ addon.repo }} {% include addon_types_list.html addon=addon %}</div>
                    <div class="description">{% unless include.filter_by_user %}[<object><a href="{{ site.baseurl }}/addons/{{ addon.user }}/" tabindex="-1">{{ addon.user }}</a></object>]{% endunless %} {{ addon.description }}</div>
                    <div class="footer">
                        <span class="updated_at">{{ addon.updated_at }}</span>
                        <span class="stars">⭐ {{ addon.stars | to_integer }}</span>
                    </div>
                </a>
            </div>
        {%- endfor -%}
    </div>
    <div class="pagination"></div>
</div>

<!-- Local copy with data-default-order https://github.com/javve/list.js/pull/301 -->
<!-- getOrder:function(e){var r=t.utils.getAttribute(e,"data-order"),n=t.utils.getAttribute(e,"data-default-order");return"asc"==r||"desc"==r?r:t.utils.classes(e).has("desc")?"asc":t.utils.classes(e).has("asc")?"desc":"asc"==n||"desc"==n?n:"asc"} -->
<script src="{{ site.baseurl }}/assets/list-2.3.1.min.js"></script>
<script>
    let addonList = new List('addon-wrapper', {
        valueNames: [
            'name',
            'stars',
            'description',
            'type',
            'updated_at',
        ],
        pagination: {
            innerWindow: 5,
            outerWindow: 1,
            item: "<li><a class='page' href='javascript:;' tabindex='4'></a></li>",
        },
        page: 24,
    });
    document.addEventListener('click', function (e) {
        if (e.target.classList.contains('page')) {
            e.preventDefault();
            const el = document.scrollingElement || document.documentElement;
            el.scrollTo({ top: el.scrollHeight });
        }
    });
    if ((addonList.size() / addonList.page) <= 1) {
        document.getElementsByClassName('pagination')[0].style.display = 'none';
    }
</script>
