<div class="description">
    A registry of <a href="https://ddev.readthedocs.io/en/stable/users/extend/additional-services/" target="_blank" title="Learn more about DDEV add-ons" aria-label="Learn more about DDEV add-ons">DDEV add-ons</a>
    where users can discover, explore, and leave comments on available add-ons.<br />
    If you have an add-on but don't see it listed here, add the <code>ddev-get</code>
    <a href="https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics" target="_blank" title="Learn more about GitHub topics" aria-label="Learn more about GitHub topics">topic</a> to your GitHub repository.
</div>

{%- assign official_addons = site.addons | where_exp: "addon", "addon.group == nil" | where_exp: "addon", "addon.user == 'ddev'" | sort: "repo" -%}
{%- assign contrib_addons = site.addons | where_exp: "addon", "addon.group == nil" | where_exp: "addon", "addon.user != 'ddev'" | sort: "repo" -%}
{%- assign all_addons = official_addons | concat: contrib_addons -%}

<div id="addon-wrapper">

    <div class="search-bar">
        {%- if page.group -%}
        <input id="addon-search" type="search" placeholder="{{ include.filter_by_user }} / search among {{ site.addons | where_exp: "addon", "addon.user == include.filter_by_user" | size }} add-on(s)…" title="Search add-ons" aria-label="Search add-ons" tabindex="1" autocomplete="off">
        {%- else -%}
        <input id="addon-search" type="search" placeholder="Search among {{ site.addons | where_exp: "addon", "addon.group == nil" | size }} add-on(s)…" title="Search add-ons" aria-label="Search add-ons" tabindex="1" autocomplete="off">
        {%- endif -%}
    </div>

    <div class="sort-buttons">
        <button class="sort" data-sort="name" title="Sort add-ons by name" aria-label="Sort add-ons by name" tabindex="2">Sort by name</button>
        <button class="sort" data-sort="stars" data-default-order="desc" title="Sort add-ons by stars" aria-label="Sort add-ons by stars" tabindex="2">Sort by stars</button>
        <button class="sort" data-sort="updated_at" data-default-order="desc" title="Sort add-ons by update date" aria-label="Sort add-ons by update date" tabindex="2">Sort by date</button>
    </div>

    <div class="card-grid list">
        {%- for addon in all_addons -%}
        {%- if include.filter_by_user and addon.user != include.filter_by_user %}{% continue %}{% endif -%}
            <div class="card">
                <a href="{{ site.baseurl }}{{ addon.url }}" class="card-link" title="View details for {{ addon.repo }}" aria-label="View details for {{ addon.repo }}" tabindex="3">
                    <div class="title name">{{ addon.repo }} {% include addon_badge.html addon=addon %}</div>
                    <div class="description">{% unless include.filter_by_user %}[<object><a href="{{ site.baseurl }}/addons/{{ addon.user }}/" tabindex="-1">{{ addon.user }}</a></object>]{% endunless %} {{ addon.description }}</div>
                    <div class="footer">
                        <div class="footer-item">
                            <object>
                                <a href="https://github.com/{{ addon.user }}/{{ addon.repo }}/actions/workflows/tests.yml" tabindex="-1" target="_blank">
                                    {% if addon.workflow_status == "success" %}
                                        <img src="{{ site.baseurl }}/assets/tests-success.svg" height="20" alt="Tests - passing" title="Tests - passing" aria-label="Tests - passing">
                                    {% elsif addon.workflow_status == "failure" %}
                                        <img src="{{ site.baseurl }}/assets/tests-failure.svg" height="20" alt="Tests - failing" title="Tests - failing" aria-label="Tests - failing">
                                    {% elsif addon.workflow_status == "disabled" %}
                                        <img src="{{ site.baseurl }}/assets/tests-disabled.svg" height="20" alt="Tests - disabled" title="Tests - disabled" aria-label="Tests - disabled">
                                    {% else %}
                                        <img src="{{ site.baseurl }}/assets/tests-unknown.svg" height="20" alt="Tests - no status" title="Tests - no status" aria-label="Tests - no status">
                                    {% endif %}
                                </a>
                            </object>
                        </div>
                        <div class="footer-item">
                        <span class="updated_at" style="display: none;">{{ addon.updated_at }}</span>
                            <object>
                                <a href="https://github.com/{{ addon.user }}/{{ addon.repo }}/commits" tabindex="-1" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="142" height="20" role="img" aria-label="{{ addon.updated_at }}: updated at">
                                        <title>Last update date</title>
                                        <linearGradient id="s" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient>
                                        <clipPath id="r"><rect width="142" height="20" rx="3" fill="#fff"/></clipPath>
                                        <g clip-path="url(#r)"><rect width="73" height="20" fill="#555"/><rect x="73" width="69" height="20" fill="#007ec6"/><rect width="142" height="20" fill="url(#s)"/></g>
                                        <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110">
                                            <text aria-hidden="true" x="375" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="630">{{ addon.updated_at }}</text>
                                            <text x="375" y="140" transform="scale(.1)" fill="#fff" textLength="630">{{ addon.updated_at }}</text>
                                            <text aria-hidden="true" x="1065" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="590">updated at</text>
                                            <text x="1065" y="140" transform="scale(.1)" fill="#fff" textLength="590">updated at</text>
                                        </g>
                                    </svg>
                                </a>
                            </object>
                        </div>
                        <div class="footer-item">
                            <span class="stars">⭐ {{ addon.stars | to_integer }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {%- endfor -%}
    </div>
    <div class="pagination"></div>
</div>

<script src="{{ site.baseurl }}/assets/list-2.3.1.min.js?v={{ site.clear_cache_date }}"></script>
<script src="{{ site.baseurl }}/assets/addon-list.js?v={{ site.clear_cache_date }}"></script>
