{% for type_pair in site.data.addon_types %}
    {% assign type_id = type_pair[0] %}
    {% assign type = type_pair[1] %}
    {% unless include.addon.type contains type_id %}{% continue %}{% endunless %}
    <object>
        <a href="{{ addon.github_url }}" target="_blank" tabindex="-1" style="text-decoration: none;">
            <span class="badge" title="{{ type.description | replace: '\n', ' ' }}" aria-label="{{ type.description | replace: '\n', ' ' }}">
                {{ type.label }}
                <span class="github-icon github-icon-15" aria-hidden="true"></span>
            </span>
        </a>
    </object>
{% endfor %}
