---
layout: index
---

{% include header.html page=page %}

<div id="content-wrapper">
    {%- assign split_content = content | split: '</p>' -%}
    <!-- Display the first 3 paragraphs -->
    <div id="visible-content">
        {{ split_content | slice: 0, 3 | join: '</p>' | markdownify }}
    </div>

    <!-- Hidden content that will be displayed on clicking "Read more" -->
    <div id="hidden-content" style="display: none;">
        {{ split_content | slice: 3, 1000 | join: '</p>' | markdownify }}
    </div>
</div>

<div class="sort-buttons">
    {%- if split_content.size > 4 -%}
    <button class="sort" type="button" id="read-more-btn" onclick="toggleContent()" title="Read more about add-on" aria-label="Read more about add-on">Read more</button>
    {%- endif -%}
    <button class="sort" type="button" onclick="window.open('{{ page.github_url }}', '_blank')" title="View add-on on GitHub" aria-label="View add-on on GitHub">View on GitHub</button>
    <button class="sort" type="button" onclick="window.open('{{ page.github_url }}/issues', '_blank')" title="Report an issue on GitHub" aria-label="Report an issue on GitHub">Report an issue</button>
</div>
<script src="{{ site.baseurl }}/assets/addon.js"></script>

<div style="border-top: 1px solid #ddd; margin: 25px 0;"></div>

<script src="https://giscus.app/client.js"
        data-repo="ddev/giscus-comments"
        data-repo-id="R_kgDON5ODtA"
        data-category="Add-on registry comments"
        data-category-id="DIC_kwDON5ODtM4Cm8gG"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
