<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <script>
        (function() {
            const savedTheme = localStorage.getItem("theme") || "auto";
            const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
            const shouldUseDark = savedTheme === 'dark' || (savedTheme === 'auto' && prefersDark);
            if (shouldUseDark) {
                document.documentElement.setAttribute('data-theme', 'dark');
            }
        })();
    </script>
    <link rel="icon" href="{{ site.baseurl }}{{ site.logo }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css?v={{ site.clear_cache_date }}" type="text/css"/>
</head>
<body>
{% include sponsors-banner.html %}

<div class="container">
    {{ content }}

    <footer>
        <div class="footer-content">
            <span>© {{ site.time | date: '%Y' }} DDEV Foundation</span>
            <div class="theme-switch" id="themeSwitch" role="radiogroup" title="Theme selection" aria-label="Theme selection">
                <div class="theme-option" data-theme="auto" role="radio" aria-checked="false" title="Auto theme" aria-label="Auto theme">🔄</div>
                <div class="theme-option" data-theme="light" role="radio" aria-checked="false" title="Light theme" aria-label="Light theme">☀️</div>
                <div class="theme-option" data-theme="dark" role="radio" aria-checked="false" title="Dark theme" aria-label="Dark theme">🌙</div>
                <div class="switch-knob" id="switchKnob"></div>
            </div>
            <div>
                <a href="{{ site.baseurl }}/addons.json" target="_blank" title="View addons.json" aria-label="View addons.json" tabindex="7">addons.json</a> |
                <a href="https://github.com/ddev/addon-registry" target="_blank" title="View source code on GitHub" aria-label="View source code on GitHub" tabindex="7">Source code</a>
            </div>
        </div>
    </footer>
</div>

<script src="{{ site.baseurl }}/assets/main.js?v={{ site.clear_cache_date }}"></script>
</body>
</html>
